In [ ]:
##How many rows and columns are there in your file?
import pandas as pd
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
print(dataHotel)
# data.info()

             destinations  feedback_score  ...  no_hotels  most_visited_city
0                   China               8  ...        100          hong-kong
1                     UAE               9  ...        111              Dubai
2                  France               9  ...         89              Paris
3                Thailand               7  ...         70            Bangkok
4                 England               8  ...         79             London
5   The RepublicSingapore               8  ...         89          Singapore
6                Malaysia               7  ...         65       Kuala Lumpur
7           United States               9  ...        150           New York
8                  Turkey               8  ...        189           Istanbul
9                   Japan               5  ...        175              Tokyo
10           Saudi Arabia               9  ...        204             Makkah
11                  Italy               6  ...        253              Milan
12                  Spain               8  ...        289          Barcelona
13              Indonesia               5  ...         59               Bali
14            South Korea               6  ...        107              Seoul

[15 rows x 5 columns]

In [ ]:
##Print row 3-8 ( using iloc/loc).
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
print(dataHotel.iloc[2:8])

            destinations  feedback_score  ...  no_hotels  most_visited_city
2                 France               9  ...         89              Paris
3               Thailand               7  ...         70            Bangkok
4                England               8  ...         79             London
5  The RepublicSingapore               8  ...         89          Singapore
6               Malaysia               7  ...         65       Kuala Lumpur
7          United States               9  ...        150           New York

[6 rows x 5 columns]

In [ ]:
##Find the mean number of all-inclusive hotels across all destinations.
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
dataHotel["no_hotels"].mean()

135.26666666666668

In [ ]:
##Find the lowest scoring destination.
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
dataHotel["most_visited_city"].min()

'Bali'

In [ ]:
##Find the highest scoring destination.
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
dataHotel["most_visited_city"].max()

'hong-kong'

In [ ]:
##Find all the destinations where there are more than 9 all-inclusive hotels. 
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
allIclusive = dataHotel["no_hotels"] > 9

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
Name: no_hotels, dtype: bool

In [ ]:
##Filter the data by score above 8.  
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
allInclusive = dataHotel["no_hotels"] > 9
filteredScore = dataHotel[allInclusive]
filteredScore["feedback_score"] > 8

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13    False
14    False
Name: feedback_score, dtype: bool

In [ ]:
##Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)  
data = pd.read_csv("hol_dest.csv")
dataHotel = data[data.columns[0:5]]
allInclusive = dataHotel["no_hotels"] > 9
filteredScore = dataHotel[allInclusive]
filteredScore["feedback_score"] < 2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: feedback_score, dtype: bool